## API Banco Central


Documentação Banco Central: https://dadosabertos.bcb.gov.br/organization/depec

Link api: https://api.bcb.gov.br/dados/serie/bcdata.sgs.{codigo}/dados?formato=json

Localização dos códigos: https://www3.bcb.gov.br/sgspub/localizarseries/localizarSeries.do?method=prepararTelaLocalizarSeries

In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\users\gabriel lima\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.23.2 in c:\users\gabriel lima\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gabriel lima\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\gabriel lima\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gabriel lima\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\gabriel lima\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: C:\Users\Gabriel Lima\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [1]:
import requests
import pandas as pd

In [21]:
#selic = 432
#ipca = 433
#PTAX (dólar) = 1

codigo = 432

url_banco_central = f'https://api.bcb.gov.br/dados/serie/bcdata.sgs.{codigo}/dados?formato=json'

In [22]:
dados_selic = requests.get(url_banco_central)

In [24]:
json_selic = dados_selic.json()

In [25]:
df = pd.DataFrame(json_selic)
df

            data  valor
0     05/03/1999  45.00
1     06/03/1999  45.00
2     07/03/1999  45.00
3     08/03/1999  45.00
4     09/03/1999  45.00
...          ...    ...
9507  15/03/2025  13.25
9508  16/03/2025  13.25
9509  17/03/2025  13.25
9510  18/03/2025  13.25
9511  19/03/2025  13.25

[9512 rows x 2 columns]

In [26]:
df['data'] = pd.to_datetime(df['data'], format = '%d/%m/%Y')

In [27]:
df

           data  valor
0    1999-03-05  45.00
1    1999-03-06  45.00
2    1999-03-07  45.00
3    1999-03-08  45.00
4    1999-03-09  45.00
...         ...    ...
9507 2025-03-15  13.25
9508 2025-03-16  13.25
9509 2025-03-17  13.25
9510 2025-03-18  13.25
9511 2025-03-19  13.25

[9512 rows x 2 columns]

In [28]:
df = df.set_index('data')

In [29]:
df['valor'] = df['valor'].astype(float)

In [32]:
df = df.resample('M').last() # organizando os dados para outra periodicidade

C:\Users\Gabriel Lima\AppData\Local\Temp\ipykernel_19852\3475874565.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').last() # organizando os dados para outra periodicidade

In [31]:
df

            valor
data
1999-03-31  42.00
1999-04-30  32.00
1999-05-31  23.50
1999-06-30  21.00
1999-07-31  19.50
...           ...
2024-11-30  11.25
2024-12-31  12.25
2025-01-31  13.25
2025-02-28  13.25
2025-03-31  13.25

[313 rows x 1 columns]